<% content_for(:title, t('.title')) %>

<section class="text-secondary body-font">
  <div class="container px-5 py-20 mx-auto">
    <%# タイトルと説明 %>
    <div class="flex flex-wrap w-full mb-10 md:ml-18">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-theme">
          <i class="fa-solid fa-user mx-4"></i>マイページ
        </h1>
        <div class="h-1 w-20 bg-point rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxe">
        お弁当カレンダーで、毎週のお弁当を振り返りましょう。<br>
        レシピは最近登録したものを集めました。
      </p>
    </div>

    <%# 週のカレンダー %>
    <%= week_calendar events: @lunchbox_logs do |date, logs| %>
      <div class="text-center md:text-lg text-base mb-2">
        <%= date.month %> / <%= date.day%>
      </div>
      <% logs.each do |log| %>
        <%= link_to lunchbox_log_path(log) do %>
        <div class="flex items-center justify-center w-11/12 mx-auto md:h-32 h-50 overflow-hidden rounded-3xl border border-gray-200hover:scale-105 hover:shadow-lg cursor-pointer transition-transform duration-300 ease-in-out">
          <%= image_tag log.image.url, class:"max-w-full max-h-full" %>
        </div>
        <% end %>
      <% end %>
    <% end %>

    <%# おすすめレシピ %>
    <div class="text-sm title-font text-point mt-16 flex justify-center tracking-widest">
      <% if @recommendation_based_on == 'bookmarks' %>
        <p>お気に入りから</p>
      <% elsif @recommendation_based_on == 'search_history'%>
        <p>検索履歴から</p>
      <% end %>
    </div>
    <div class="flex items-center gap-4 mb-10">
      <div class="flex-grow border border-dashed border-secondary text-sm"></div>
        <h1 class="text-2xl title-font text-them">
          <i class="fa-regular fa-thumbs-up mr-1"></i>あなたにおすすめのレシピ
        </h1>
      <div class="flex-grow border border-dashed border-secondary"></div>
    </div>

    <% if @recommended_recipes.length != 0 %>
      <div class="flex flex-wrap -m-4">
        <% @recommended_recipes.each do |recipe| %>
          <%= render 'recipes/recipe', recipe: recipe %>
        <% end %>
      </div>
    <% end %>


    <%# 作りたいレシピ %>
    <p class="text-sm title-font text-point mt-16 flex justify-center tracking-widest">
      最近追加した
    </p>
    <div class="flex items-center gap-4 mb-10">
      <div class="flex-grow border border-dashed border-secondary text-sm"></div>
        <h1 class="text-2xl title-font text-them">
          <i class="fa-solid fa-heart mr-1"></i>作りたいレシピ
        </h1>
      <div class="flex-grow border border-dashed border-secondary"></div>
    </div>

    <% if @want_to_cook_recipes.length != 0 %>
      <div class="flex flex-wrap -m-4">
        <% @want_to_cook_recipes.each do |recipe| %>
          <%= render 'recipes/recipe', recipe: recipe %>
        <% end %>
      </div>
      <div class="flex justify-center">
        <%= link_to want_to_cook_bookmarked_recipes_path do %>
          <div class= "bg-point border border-secondary py-2 px-10 mt-4 hover:shadow-lg rounded-full">
            <i class="fa-solid fa-heart mr-1"></i>作りたいレシピをもっとみる
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render 'shared/no_want_to_cook'%>
    <% end %>


    <%# 作ったレシピ %>
    <p class="text-sm title-font text-point mt-20 flex justify-center tracking-widest">最近追加した</p>

    <div class="flex items-center gap-4 mb-10">
      <div class="flex-grow border border-dashed border-secondary text-sm"></div>
        <%= link_to cooked_bookmarked_recipes_path do %>
          <h1 class="text-2xl title-font text-theme">
            <i class="fa-solid fa-utensils mr-1"></i>作ったレシピ
          </h1>
        <% end %>
      <div class="flex-grow border border-dashed border-secondary"></div>
    </div>

    <% if @cooked_recipes.length != 0 %>
      <div class="flex flex-wrap -m-4">
        <% @cooked_recipes.each do |recipe| %>
          <%= render 'recipes/recipe', recipe: recipe %>
        <% end %>
      </div>
      <%# 一覧へのボタン %>
      <div class="flex justify-center">
        <%= link_to cooked_bookmarked_recipes_path do %>
          <div class= "bg-point border border-secondary py-2 px-10 mt-4 hover:shadow-lg rounded-full">
            <i class="fa-solid fa-utensils mr-1"></i>作ったレシピをもっとみる
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render 'shared/no_cooked'%>
    <% end %>


    <%# 投稿したレシピ %>
    <p class="text-sm title-font text-point mt-20 flex justify-center tracking-widest">
      最近追加した
    </p>

    <div class="flex items-center gap-4 mb-10">
      <div class="flex-grow border border-dashed border-secondary text-sm"></div>
        <%= link_to posted_recipes_path do %>
          <h1 class="text-2xl title-font text-theme">
            <i class="fa-regular fa-circle-up mr-1"></i>投稿したレシピ
          </h1>
        <% end %>
      <div class="flex-grow border border-dashed border-secondary"></div>
    </div>

    <% if @posted_recipes.length != 0 %>
      <div class="flex flex-wrap -m-4">
        <% @posted_recipes.each do |recipe| %>
          <%= render 'recipes/recipe', recipe: recipe %>
        <% end %>
      </div>
      <%# 一覧へのボタン %>
      <div class="flex justify-center">
        <%= link_to posted_recipes_path do %>
          <div class= "bg-point border border-secondary py-2 px-10 mt-4 hover:shadow-lg rounded-full">
            <i class="fa-regular fa-circle-up mr-1"></i>投稿したレシピをもっとみる
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render 'shared/no_post'%>
    <% end %>
  </div>
</section>