<section class="text-secondary body-font">
  <div class="container px-5 py-20 mx-auto">
    <%# タイトルと説明 %>
    <div class="flex flex-wrap w-full mb-10 md:ml-18">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-theme">
          <i class="fa-solid fa-user mx-4"></i>マイページ
        </h1>
        <div class="h-1 w-20 bg-point rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxe">
        あなただけのお弁当カレンダーを作って、毎週のお弁当を振り返りましょう。<br>
        レシピもぜひ参考にしてみてくださいね。
      </p>
    </div>

    <%# 週のカレンダー %>
    <%= week_calendar events: @lunchbox_logs do |date, logs| %>
      <div class="text-center md:text-lg text-base mb-2">
        <%= date.month %> / <%= date.day%>
      </div>
      <% logs.each do |log| %>
        <%= link_to lunchbox_log_path(log) do %>
        <div class="flex items-center justify-center w-11/12 mx-auto md:h-32 h-50 overflow-hidden rounded-3xl border border-gray-200hover:scale-105 hover:shadow-lg cursor-pointer transition-transform duration-300 ease-in-out">
          <%= image_tag log.image.url, class:"max-w-full max-h-full" %>
        </div>
        <% end %>
      <% end %>
    <% end %>

    <%# 作りたいレシピ %>
    <div class="flex items-center gap-4 mt-16 mb-5">
      <div class="flex-grow border border-dashed border-secondary text-sm"></div>
          <%= link_to want_to_cook_bookmarked_recipes_path do %>
            <h1 class="text-2xl font-semibold title-font text-theme hover:text-point">
              作りたいレシピ<i class="fa-solid fa-arrow-up-right-from-square text-xs ml-2"></i>
            </h1>
          <% end %>
      <div class="flex-grow border border-dashed border-secondary"></div>
    </div>

    <% if @want_to_cook_recipes.length != 0 %>
      <div class="flex flex-wrap -m-4">
        <% @want_to_cook_recipes.each do |recipe| %>
          <%= render 'recipes/recipe', recipe: recipe %>
        <% end %>
      </div>
    <% else %>
      <%= render 'shared/no_want_to_cook'%>
    <% end %>

    <%# 作ったレシピ %>
    <div class="flex items-center gap-4 mt-16 mb-5">
      <div class="flex-grow border border-dashed border-secondary text-sm"></div>
        <%= link_to cooked_bookmarked_recipes_path do %>
          <h1 class="text-2xl font-semibold title-font text-theme hover:text-point">
            作ったレシピ<i class="fa-solid fa-arrow-up-right-from-square text-xs ml-2"></i>
          </h1>
        <% end %>
      <div class="flex-grow border border-dashed border-secondary"></div>
    </div>

    <% if @cooked_recipes.length != 0 %>
      <div class="flex flex-wrap -m-4">
        <% @cooked_recipes.each do |recipe| %>
          <%= render 'recipes/recipe', recipe: recipe %>
        <% end %>
      </div>
    <% else %>
      <%= render 'shared/no_cooked'%>
    <% end %>

    <%# 投稿したレシピ %>
    <div class="flex items-center gap-4 mt-16 mb-5">
      <div class="flex-grow border border-dashed border-secondary text-sm"></div>
        <%= link_to posted_recipes_path do %>
          <h1 class="text-2xl font-semibold title-font text-theme hover:text-point">
            投稿したレシピ<i class="fa-solid fa-arrow-up-right-from-square text-xs ml-2"></i>
          </h1>
        <% end %>
      <div class="flex-grow border border-dashed border-secondary"></div>
    </div>

    <% if @posted_recipes.length != 0 %>
      <div class="flex flex-wrap -m-4">
        <% @posted_recipes.each do |recipe| %>
          <%= render 'recipes/recipe', recipe: recipe %>
        <% end %>
      </div>
    <% else %>
      <%= render 'shared/no_post'%>
    <% end %>
  </div>
</section>