<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <%# 週のカレンダー %>
    <%= week_calendar events: @lunchbox_logs do |date, logs| %>
      <div class="text-center md:text-lg text-base mb-2">
        <%= date.month %>/<%= date.day%>
      </div>
      <% logs.each do |log| %>
        <div class="flex items-center justify-center w-full md:h-32 h-50 bg-white overflow-hidden mb-4">
          <%= image_tag log.image.url, class:"max-w-full max-h-full" %>
        </div>
      <% end %>
    <% end %>
    <%# 作りたいレシピ %>
    <div class="flex flex-col text-center w-full mb-10">
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">WANT TO COOK</h2>
      <h1 class="text-2xl font-medium title-font text-gray-900">作りたいレシピ</h1>
    </div>
    <div class="flex flex-wrap -m-4 mt-10">
      <% @want_to_cook_recipes.each do |recipe| %>
        <%= render 'recipes/recipe', recipe: recipe %>
      <% end %>
    </div>
    <%# 作ったレシピ %>
    <div class="flex flex-col text-center w-full my-10 ">
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">COOKED</h2>
      <h1 class="text-2xl font-medium title-font text-gray-900">作ったレシピ</h1>
    </div>
    <div class="flex flex-wrap -m-4 mt-10">
      <% @cooked_recipes.each do |recipe| %>
        <%= render 'recipes/recipe', recipe: recipe %>
      <% end %>
    </div>
  </div>
</section>