<section class="text-secondary body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="flex items-center justify-center md:w-1/2 w-full h-80 overflow-hidden">
      <%= image_tag 'top.png', class:"max-w-full max-h-full" %>
    </div>
    <div class="md:w-1/2 flex flex-col items-start justify-start text-left md:mx-5 text-theme">
      <h1 class="mb-4 font-medium">
        今ある材料でつくれるAIレシピと、お弁当記録カレンダーで
      </h1>
      <p class="text-2xl">あなたのお弁当作りをサポートします</p>
      <p class="mt-10 mb-3 mx-2 py-1 px-5 bg-secondary text-card-body rounded-full">
        たとえば、こんな時
      </p>
      <div class="flex flex-col justify-start items-start ml-3">
        <p class="py-1 px-1">
          <i class="fa-regular fa-circle-check mr-1"></i>明日のおかずは何を作ろうかな😕❓
        </p>
        <p class="py-1 px-1">
          <i class="fa-regular fa-circle-check mr-1"></i>ほうれん草が余ってるけど何にしよう...🥬
        </p>
        <p class="py-1 px-1">
          <i class="fa-regular fa-circle-check mr-1"></i>先週のお弁当は何を入れたっけ🤔💭
        </p>
      </div>
    </div>
  </div>
  <div class="w-full px-5 pt-10 pb-16 flex flex-col bg-theme">
    <p class="text-center text-3xl font-semibold text-card-body pb-2">
      <i class="fa-solid fa-magnifying-glass mr-2"></i>HOW TO USE
    </p>
    <div class="flex justify-center pb-8">
      <%= image_tag 'logo.png', class: "h-14" %>
    </div>

    <%# レシピ生成 %>
    <div class="lg:w-4/6 mx-auto bg-card-body rounded-lg my-2 border-2 border-theme hover:shadow-lg hover:-translate-y-1 transform transition duration-300 ease-in-out">
      <div class="flex flex-col sm:flex-row px-5">
        <div class="sm:w-1/2 text-center p-3">
          <img src="https://i.gyazo.com/f3bc51d72c75e49871c743bc975453f7.gif" alt="レシピ生成の操作イメージ" width="800"/>
        </div>
        <div class="sm:w-1/2 p-3 sm:mt-0 text-left flex flex-col justify-center">
          <p class="leading-relaxed text-xl pt-4">
            <i class="fa-solid fa-robot mr-2"></i>AIレシピ生成
          </p>
          <div class= "py-4 px-1">
            AIでお弁当にあうレシピを生成できます。<br>
            調理時間・味のテイスト・使いたい食材を入力してください。<br>
            ※ レシピの生成は1日1回までです
          </div>
        </div>
      </div>
    </div>

    <%# レシピ一覧 %>
    <div class="lg:w-4/6 mx-auto bg-card-body rounded-lg my-2 border-2 border-theme hover:shadow-lg hover:-translate-y-1 transform transition duration-300 ease-in-out">
      <div class="flex flex-col sm:flex-row px-5">
        <div class="sm:w-1/2 text-center p-3">
          <img src="https://i.gyazo.com/abef5cc7ec1943cc7dea99ad8f267ba4.gif" alt="レシピ一覧の操作イメージ" width="800" />
        </div>
        <div class="sm:w-1/2 p-3 sm:mt-0 text-left flex flex-col justify-center">
          <p class="leading-relaxed text-xl pt-4">
            <i class="fa-solid fa-list mr-2"></i>レシピ一覧
          </p>
          <div class= "py-4 px-1">
            AIレシピと投稿されたレシピの一覧です。<br>
            調理時間・味のテイスト・食材を選択してレシピを検索できます。<br>
            ユーザー登録すると作りたいレシピをリストに登録できます。
          </div>
        </div>
      </div>
    </div>

    <%# お弁当一覧 %>
    <div class="lg:w-4/6 mx-auto bg-card-body rounded-lg my-2 border-2 border-theme hover:shadow-lg hover:-translate-y-1 transform transition duration-300 ease-in-out">
      <div class="flex flex-col sm:flex-row px-5">
        <div class="sm:w-1/2 text-center p-3">
          <img src="https://i.gyazo.com/285d6183f1c4865ade45da12d2663858.jpg" alt="お弁当一覧のイメージ" width="800"/>
        </div>
        <div class="sm:w-1/2 p-3 sm:mt-0 text-left flex flex-col justify-center">
          <p class="leading-relaxed text-xl pt-4">
            <i class="fa-solid fa-camera mr-2"></i>みんなのお弁当
          </p>
          <div class= "py-4 px-1">
            他のユーザーが投稿したお弁当を見ることができます。<br>
            明日のお弁当の参考にしてみてくださいね。<br>
            ※ユーザー登録をするといいね機能が使えます
          </div>
        </div>
      </div>
    </div>

    <%# お弁当記録カレンダー %>
    <div class="lg:w-4/6 mx-auto bg-card-body rounded-lg my-2 border-2 border-theme hover:shadow-lg hover:-translate-y-1 transform transition duration-300 ease-in-out">
      <div class="flex flex-col sm:flex-row px-5">
        <div class="sm:w-1/2 text-center p-3">
          <img src="https://i.gyazo.com/ab2fe2a45cef3a25f9c888acfae13106.gif" alt="お弁当カレンダーのイメージ" width="800"/>
        </div>
        <div class="sm:w-1/2 p-3 sm:mt-0 text-left flex flex-col justify-center">
          <p class="leading-relaxed text-xl pt-4">
            <i class="fa-solid fa-calendar mr-2"></i>お弁当記録カレンダー
          </p>
          <div class= "py-4 px-1">
            お弁当を記録して、週ごとにお弁当を振り返ってみましょう。<br>
            新しい発見があるかもしれませんよ。<br>
            ※お弁当の記録は公開範囲が選択できるので、気軽に投稿してみてください
          </div>
          <div class="bg-point rounded-full flex justify-center md:w-1/3 w-1/2 mb-4">
            <div class="px-1 flex items-center text-card-body">
              ログイン限定
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# レシピお気に入り機能 %>
    <div class="lg:w-4/6 mx-auto bg-card-body rounded-lg my-2 border-2 border-theme hover:shadow-lg hover:-translate-y-1 transform transition duration-300 ease-in-out">
      <div class="flex flex-col sm:flex-row px-5">
        <div class="sm:w-1/2 text-center p-3">
          <img src="https://i.gyazo.com/a03df413d8732d17dcf52529ebcf833d.gif" alt="作ったを登録するイメージ" width="800"/>
        </div>
        <div class="sm:w-1/2 p-3 sm:mt-0 text-left flex flex-col justify-center">
          <p class="leading-relaxed text-xl pt-4">
            <i class="fa-solid fa-heart mr-2"></i>作りたいレシピ&作ったレシピ
          </p>
          <div class= "py-4 px-1">
            気になるレシピを作りたいリストに追加できます。<br>
            実際に作ったレシピは、あなただけのメモを添えて登録できます。
          </div>
          <div class="bg-point rounded-full flex justify-center md:w-1/3 w-1/2 mb-4">
            <div class="px-1 flex items-center text-card-body">
              ログイン限定
            </div>
          </div>
        </div>
      </div>
    </div>


    <%# レシピ投稿 %>
    <div class="lg:w-4/6 mx-auto bg-card-body rounded-lg my-2 border-2 border-theme hover:shadow-lg hover:-translate-y-1 transform transition duration-300 ease-in-out">
      <div class="flex flex-col sm:flex-row px-5">
        <div class="sm:w-1/2 text-center p-3">
          <img src="https://i.gyazo.com/3b2cebc7a99ac21a7734b3cf8c0320e5.gif" alt="投稿画面のイメージ" width="800"/>
        </div>
        <div class="sm:w-1/2 p-3 sm:mt-0 text-left flex flex-col justify-center">
          <p class="leading-relaxed text-xl pt-4">
            <i class="fa-solid fa-pen-to-square mr-2"></i>レシピ投稿
          </p>
          <div class= "py-4 px-1">
            あなたの定番のレシピを登録することができます。<br>
            自慢のレシピを投稿してみませんか？
          </div>
          <div class="bg-point rounded-full flex justify-center md:w-1/3 w-1/2 mb-4">
            <div class="px-1 flex items-center text-card-body">
              ログイン限定
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div class="container mx-auto px-5 py-8">
    <p class="text-center text-3xl font-semibold text-theme pt-4 pb-2">
      LET'S START USING
    </p>

    <div class="flex justify-center pb-8">
      <%= image_tag 'logo.png', class: "h-14" %>
    </div>


    <div class="flex md:flex-row flex-col items-center justify-center">
      <div class="md:mx-5 bg-card-body rounded-full w-48 h-48 flex justify-center items-center border border-theme text-theme mx-2 my-2 hover:bg-point">
        <%= link_to new_user_path, class: "flex flex-col justify-center items-center h-full w-full" do %>
          <p class="text-xl font-semibold">ユーザー登録</p>
          <i class="fa-solid fa-user-plus text-4xl my-2"></i>
          <p class="text-sm text-center">すべての機能を<br>使いたい方</p>
        <% end %>
      </div>
      <div class="md:mx-5 bg-theme rounded-full w-48 h-48 flex justify-center items-center border border-theme text-card-body mx-2 my-2 hover:bg-point">
        <%= link_to login_path, class: "flex flex-col justify-center items-center h-full w-full" do %>
          <p class="text-xl font-semibold">ログイン</p>
          <i class="fa-solid fa-right-to-bracket text-4xl my-2"></i>
          <p class="text-sm text-center">ユーザー登録済みの方</p>
        <% end %>
      </div>
      <div class="md:mx-5 bg-card-body rounded-full w-48 h-48 flex justify-center items-center border border-secondary text-secondary mx-2 my-2 hover:bg-point">
        <div id= "scrollToTopBtn", class="flex flex-col justify-center items-center h-full w-full">
          <p class="text-xl font-semibold">お試し</p>
          <i class="fa-solid fa-laptop text-4xl my-2"></i>
          <p class="text-sm text-center">まずは使ってみたい方<br>ページトップに<br>戻ります</p>
        </div>
      </div>
    </div>
  </div>
</section>
