<% if current_user.own?(recipe) %>
  <%= render 'recipes/control/control_edit_button', recipe: recipe%>
<% else %>
  <% bookmarked_recipe = current_user.bookmarked_recipes.find_by(recipe_id: recipe.id)%>
  <% if bookmarked_recipe %>
    <% if bookmarked_recipe.status === 'cooked' %>
      <%# 「作った」でブックマークされている %>

      <%# リピートの有無 %>
      <%= render 'recipes/control/control_cooked_repeat', bookmarked_recipe: bookmarked_recipe %>

      <%# コメントと編集削除ボタンは作ったの一覧でのみ表示 %>
      <% if current_page?(cooked_bookmarked_recipes_path) %>
        <div class= "flex justify-center items-center mt-3">
          <i class="fa-regular fa-comment mr-3"></i><%= bookmarked_recipe.comment %>
        </div>

        <%# 編集削除ボタン %>
        <%= render 'recipes/control/control_cooked_buttons', bookmarked_recipe: bookmarked_recipe%>
      <% end %>


    <% else %>
      <%# 「作りたい」でブックマークされている %>
      <%= render 'recipes/control/want_to_cook', bookmarked_recipe: bookmarked_recipe, recipe: recipe %>
    <% end %>
  <% else %>
    <%# まだブックマークされていない %>
    <%= render 'recipes/control/bookmark_button', recipe: recipe %>
  <% end %>
<% end %>
