<div class="w-full lg:w-1/3 md:w-1/2 p-4 text-secondary">
  <div class="border border-card-line bg-card-body p-4 rounded-lg">
    <div class="flex flex-row w-full">
      <div class="flex-grow text-theme mb-2 ml-2 items-center">
        <% if recipe.api_resp%>
          <i class="fa-solid fa-robot text-lg mr-1"></i>
        <% end %>

        <%= link_to recipe.title, recipe_path(recipe),
              class:"text-lg font-semibold hover:text-point "%>
      </div>
      <div class= "flex justify-end">
        <%# いいねの数をカウントするならここに追加 %>
      </div>
    </div>

    <div class="flex justify-start">
      <% recipe.tags.each do |tag| %>
        <%= image_tag tag.image_url,
            class: 'w-16 h-16 mx-3 inline-flex items-center justify-center'%>
      <% end%>
    </div>

    <div class= "flex my-2 w-full">
      <div class="border rounded-full flex justify-center w-1/2 mx-2">
        <div class="px-1 flex items-center ">
          <%= link_to recipes_path(q: {time_required_eq: Recipe.time_requireds[recipe.time_required]}) do%>
            <i class="fa-regular fa-clock pr-2"></i><%= recipe.time_required_i18n %>
          <% end %>
        </div>
      </div>
      <div class="border rounded-full flex justify-center w-1/2 mx-2">
        <div class="px-1 flex items-center ">
          <%= link_to recipes_path(q: {taste_eq: Recipe.tastes[recipe.taste]}) do%>
            <i class="fa-solid fa-bowl-rice pr-2"></i><%= recipe.taste_i18n %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="">
      <%# 通常の一覧なら食材を表示する %>
      <% if recipe.api_ingredients %>
        <%# APIで生成したレシピでの表示 %>
        <%= recipe.api_ingredients %>
      <% else%>
        <%# 手動で登録したレシピの表示 %>
        <% recipe.recipe_ingredients.each_with_index do |ing, index| %>
          - <span class="leading-relaxed text-base"><%= ing.name %> <%= ing.quantity %></span>
        <% end %>
      <% end %>
    </div>

    <div class="w-full mt-4">
      <% if logged_in? %>
        <%= render 'recipes/recipe_controls', recipe: recipe, current_user: current_user%>
      <% end %>
    </div>
  </div>
</div>
