<div class="nested-fields field">

        <%= f.label :name, "材料名" %>
        <%= f.text_field :name %>

        <%= f.label :quantity, "分量" %>
        <%= f.text_field :quantity %>

    <%= link_to_remove_association '削除', f, class: '' %>
</div>