<% if current_user.own?(recipe) %>
  <%= render 'control/control_edit_button', recipe: recipe%>
<% else %>
  <% bookmarked_recipe = current_user.bookmarked_recipes.find_by(recipe_id: recipe.id)%>
  <% if bookmarked_recipe %>
    <% if bookmarked_recipe.status === 'cooked' %>
      <%# 「作った」でブックマークされている %>

      <%# リピートの有無 %>
      <%= render 'control/control_cooked_repeat', bookmarked_recipe: bookmarked_recipe %>

      <%# コメント %>
      <div class= "flex justify-center items-center">
        <i class="fa-regular fa-comment mr-3"></i><%= bookmarked_recipe.comment %>
      </div>

      <%# 編集削除ボタン %>
      <%= render 'control/control_cooked_buttons', bookmarked_recipe: bookmarked_recipe%>

    <% else %>
      <%# 「作りたい」でブックマークされている %>
      <%= render 'control/control_want_to_cook', bookmarked_recipe: bookmarked_recipe %>
    <% end %>
  <% else %>
    <%# まだブックマークされていない %>
    <%= render 'control/control_not_bookmarked', recipe: recipe %>
  <% end %>
<% end %>
