<div class="xl:w-1/3 md:w-1/2 p-4">
  <div class="border border-gray-200 p-6 rounded-lg">
    <% recipe.tags.each do |tag| %>
      <%= image_tag tag.image_url, class: 'w-14 h-14 inline-flex items-center justify-center bg-indigo-100 text-indigo-500 mb-2 flex-shrink-0 ring-1 ring-gray-400 rounded-full'%>
    <% end%>
    <p>
      <%= link_to recipe.title, recipe_path(recipe), class: "text-gray-900 text-2xl py-5" %>
    </p>
    <div class= "flex mb-2">
      <div class="border-2 border-gray-200 px-1 py-1 rounded-lg flex justify-center">
        <div class="px-1 flex items-center">
          <i class="fa-solid fa-clock-rotate-left pr-2"></i>
          <h2 class="text-gray-900"><%= recipe.time_required_i18n %></h2>
        </div>
      </div>
      <div class="border-2 border-gray-200 mx-2 px-1 py-1 rounded-lg flex justify-center">
        <div class="px-1 flex items-center">
          <i class="fa-solid fa-bowl-rice pr-2"></i>
          <%# <%= t("activerecord.attributes.recipe.taste.#{recipe.taste}") %>
          <h2 class="text-gray-900"><%= recipe.taste_i18n %></h2>
        </div>
      </div>
    </div>
    <% recipe.recipe_ingredients.each_with_index do |ing, index| %>
      <span class="leading-relaxed text-base"><%= ing.name %> <%= ing.quantity %></span>
      <% unless index == recipe.recipe_ingredients.size - 1 %>
        <span class="text-gray-500"> | </span>
      <% end %>
    <% end %>
  </div>
</div>
