<% if last %>
  <div class="flex relative">
    <div class="flex-shrink-0 w-10 h-10 rounded-full bg-point inline-flex items-center justify-center text-white relative z-10"><%= step[0]%></div>
    <div class="flex-grow pl-4">
      <h2 class="font-medium title-font text-sm text-secondary mb-1 tracking-wider">STEP <%= step[0]%></h2>
      <p class="leading-relaxed"><%= step[1]%></p>
    </div>
  </div>
<% else %>
  <div class="flex relative pb-12">
    <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
      <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
    </div>
    <div class="flex-shrink-0 w-10 h-10 rounded-full bg-point inline-flex items-center justify-center text-white relative z-10"><%= step[0] %></div>
    <div class="flex-grow pl-4">
      <h2 class="font-medium title-font text-sm text-secondary mb-1 tracking-wider">STEP <%= step[0] %></h2>
      <p class="leading-relaxed"><%= step[1] %></p>
    </div>
  </div>
<% end %>
