<% content_for(:title, @recipe.title) %>

<section class="text-secondary body-font">
  <div class="container px-5 py-24 mx-auto">
    <%= render 'recipe_detail', recipe: @recipe, tags: @tags%>

    <% if logged_in? %>
      <% if current_user.own?(@recipe) %>
        <div class="mt-10 mx-3 flex flex-row md:justify-end justify-center md:mt-0">
          <%= link_to edit_recipe_path(@recipe),
                class: "bg-card-body border border-secondary py-1 px-5 mr-2 hover:shadow-lg rounded-full" do %>
            <i class="fa-solid fa-pen-to-square mr-2"></i>編集
          <% end %>
          <%= link_to recipe_path(@recipe),
                data: { turbo_method: :delete, turbo_confirm: "「#{@recipe.title}」のレシピを削除しますか？"},
                class: "bg-card-body border border-secondary py-1 px-5 hover:shadow-lg rounded-full" do %>
            <i class="fa-solid fa-trash-can mr-2"></i>削除
          <% end %>
        </div>
      <% end %>
    <% end %>


    <div class="mx-3 flex flex-col justify-center items-center">
      <div class="p-10 border-b border-secondary w-full">
        <% if logged_in? %>
          <%= render 'recipes/recipe_controls', recipe: @recipe, current_user: current_user %>
        <% else %>
          <div class="mx-3 flex flex-col justify-center items-center text-xl">
            <p class="text-sm tracking-widest">つくりたいリストに追加するなら</p>
            <%= link_to 'ユーザー登録', new_user_path, class: "text-card-body bg-theme border border-theme py-1 px-14 hover:shadow-lg rounded-full mx-2"%>
          </div>
        <% end %>
      </div>

      <%# 前のアクションがcreateかeditだったら、レシピ一覧のリンクを表示 %>
      <div class="md:p-10 md:mt-0 mt-8">
      <% if @from_action == 'create' || @from_action == 'edit'%>
        <%= link_to recipes_path, class: "bg-card-body border border-secondary py-2 md:px-5 px-2 hover:shadow-lg rounded-full text-lg md:mx-4 mx-1" do %>
          <i class="fa-solid fa-list mr-2"></i>レシピ一覧
        <% end %>
      <% else %>
        <%= link_to :back, class: "bg-card-body border border-secondary py-2 md:px-5 px-2 hover:shadow-lg rounded-full text-lg md:mx-4 mx-1" do %>
          <i class="fa-solid fa-arrow-rotate-left mr-2"></i>前のページ
        <% end %>
      <% end %>

      <%= link_to "https://twitter.com/share?url=#{recipe_url(@recipe)}&text=#{ERB::Util.url_encode("お弁当におすすめのレシピ「#{@recipe.title}」\nいつものお弁当 | ")}&hashtags=itsumono_obento", target: '_blank', data: { toggle: "tooltip", placement: "bottom" },
            class: "bg-point border border-secondary py-2 px-5 hover:shadow-lg rounded-full text-lg mx-4"  do %>
        <i class="fa-brands fa-x-twitter mr-2"></i>で共有
      <% end %>
      </div>
    </div>
  </div>
</section>