<!-- ヘッダー -->
<header class="container mx-auto flex justify-between items-center px-5 w-full pt-5 z-30">
  <%= link_to 'いつものお弁当', root_path, class: "text-3xl text-gray-800 font-bold"%>
    <div class="space-x-12 items-center hidden md:flex">
      <%# レシピのプルダウン %>
      <div class="group relative cursor-pointer">
        <div class="flex items-center justify-center">
          <a class="menu-hover py-2 text-gray-800 mr-3">レシピ </a>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="invisible absolute items-center bg-white border border-gray-300 left-1/2 z-50 flex w-auto min-w-max flex-col py-1 transform -translate-x-1/2 group-hover:visible">
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-utensils mr-1"></i>
            <%= link_to 'レシピ生成', new_api_recipe_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-list mr-1"></i>
            <%= link_to 'レシピ一覧', recipes_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-heart mr-1"></i>
            <%= link_to '作りたいレシピ', want_to_cook_bookmarked_recipes_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-utensils mr-1"></i>
            <%= link_to '作ったレシピ', cooked_bookmarked_recipes_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-pen-to-square mr-1"></i>
            <%= link_to 'レシピ投稿', new_recipe_path %>
          </div>
        </div>
      </div>
      <div class="group relative cursor-pointer">
        <div class="flex items-center justify-center">
          <a class="menu-hover py-2 text-gray-800 mr-3">お弁当</a>
          <i class="fa-solid fa-caret-down"></i>
        </div>
        <div class="invisible absolute items-center bg-white border border-gray-300 left-1/2 z-50 flex w-auto min-w-max flex-col py-1 transform -translate-x-1/2 group-hover:visible">
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-regular fa-images mr-1"></i>
            <%= link_to 'みんなの投稿', lunchbox_logs_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-regular fa-pen-to-square mr-1"></i>
            <%= link_to '記録する', new_lunchbox_log_path %>
          </div>
        </div>
      </div>
      <div class="flex items-center text-gray-700 hover:text-selected-text">
        <%= link_to 'マイページ', mypage_path %>
      </div>
      <%# マイページのプルダウン %>
      <div class="group relative cursor-pointer">
        <div class="flex items-center justify-between">
          <a class="menu-hover lg:mr-8">
            <%= image_tag current_user.avator.url, class: "rounded-full h-10 w-10 flex items-center justify-center" %>
          </a>
        </div>
        <div class="invisible absolute items-center bg-white border border-gray-300 left-1/4 z-50 flex w-auto min-w-max flex-col py-1 transform -translate-x-1/2 group-hover:visible">
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-regular fa-address-card mr-1"></i>
            <%= link_to "プロフィール", profile_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-right-from-bracket mr-1"></i>
            <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
          </div>
        </div>
      </div>
    </div>
    <%# スマホで見た時のハンバーガーメニュー %>
    <div class="md:hidden group relative z-40">
      <i class="fa-solid fa-bars menu-button fa-2x hover:cursor-pointer"></i>
      <div class="menu hidden group-hover:block absolute right-0 top-full mt-3 bg-white shadow-lg z-50 min-w-[200px]">
        <ul class="flex flex-col z-10 items-center">
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-utensils fa-fw"></i>
            <%= link_to 'レシピ生成', new_api_recipe_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-list fa-fw"></i>
            <%= link_to 'レシピ一覧', api_recipes_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-pen-to-square fa-fw"></i>
            <%= link_to 'レシピ投稿', new_recipe_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-heart mr-1"></i>
            <%= link_to '作りたいレシピ', want_to_cook_bookmarked_recipes_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-utensils mr-1"></i>
            <%= link_to '作ったレシピ', cooked_bookmarked_recipes_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-regular fa-images mr-1"></i>
            <%= link_to 'みんなのお弁当', lunchbox_logs_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-regular fa-pen-to-square mr-1"></i>
            <%= link_to 'お弁当を記録', new_lunchbox_log_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-user mr-1"></i>
            <%= link_to 'マイページ', mypage_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-regular fa-address-card mr-1"></i>
            <%= link_to "プロフィール", profile_path %>
          </div>
          <div class="flex items-center my-1 px-4 py-1 text-gray-700 hover:text-selected-text">
            <i class="fa-solid fa-right-from-bracket mr-1"></i>
            <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
          </div>
        </ul>
      </div>
    </div>
</header>

