<section class="text-gray-600 body-font">
  <div class="container py-10 mx-auto flex flex-row items-center justify-center min-h-full">
    <div class="p-6 flex flex-col w-full max-w-md">
      <div class="flex flex-row justify-between text-bold ">
        <% if @previous_log %>
          <%= link_to '〈 前の日', lunchbox_log_path(@previous_log) %>
        <% else %>
          <span class="inline-block" style="visibility: hidden; width:68px;"></span>
        <% end %>

        <%= link_to 'カレンダーに戻る', mypage_path %>

        <% if @next_log %>
          <%= link_to '次の日 〉', lunchbox_log_path(@next_log) %>
        <% else %>
          <span class="inline-block" style="visibility: hidden; width:68px;"></span>
        <% end %>
      </div>

      <h1 class="text-2xl font-medium title-font text-gray-900 mt-6 mb-8  text-center">
        <%= @lunchbox_log.cooked_date.strftime('%Y年%m月%d日') %> のお弁当
      </h1>

    <div>
      <div class="flex items-center justify-center w-full h-72 bg-white overflow-hidden mb-4">
        <%= image_tag @lunchbox_log.image.url, class:"max-w-full max-h-full" %>
      </div>
      <p class="leading-relaxed text-xs mt-2">ai_menu</p>
      <% if @lunchbox_log.cooked_recipe_ids %>
        <%= link_to @recipe.title, recipe_path(@recipe), class:"leading-relaxed text-base" %>
      <% end %>
      <p class="leading-relaxed text-xs mt-2">menu</p>
      <p class="leading-relaxed text-base"><%= @lunchbox_log.original_menu %></p>
      <p class="leading-relaxed text-xs mt-2">comment</p>
      <p class="leading-relaxed text-base"><%= @lunchbox_log.comment %></p>
      <p class="leading-relaxed text-xs mt-2">公開設定</p>
      <p class="leading-relaxed text-base"><%= @lunchbox_log.published_status %></p>
    </div>

      <div class="mt-2 mx-3 flex justify-center">
        <%= link_to edit_lunchbox_log_path(@lunchbox_log), class: "inline-block text-white bg-gray-400 border-0 py-2 px-5 focus:outline-none hover:bg-blue-400 rounded-full text-lg mx-2" do %>
          <i class="fa-solid fa-pen-to-square"> 編集</i>
        <% end %>
      </div>

    </div>

  </div>
</section>