<div class="simple-calendar bg-transparent box-border max-w-full">
  <div class="flex flex-row items-center">
    <div class="mx-5 mb-2">
      <%= link_to calendar.url_for_previous_view do %>
        <i class="fa-solid fa-chevron-left mr-3"></i>
      <% end %>
      <%= link_to t('simple_calendar.today', default: 'TODAY'), calendar.url_for_today_view %>
      <%= link_to calendar.url_for_next_view do %>
        <i class="fa-solid fa-chevron-right ml-3"></i>
      <% end %>
    </div>
  </div>

  <table class="table-fixed border-collapse bg-transparent border border-card-line w-full">
    <thead class="h-5">
      <tr class="border-collapse">
        <% date_range.slice(0, 7).each do |day| %>
          <th class="border-b border-card-line border-l border-r border-t-0 box-border text-center px-3 bg-card-body">
            <%= t('date.abbr_day_names')[day.wday] %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "#{calendar.td_classes_for(day)} border border-card-line p-1 align-top w-1/7 md:h-32 h-24 bg-card-body" do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
