<section class="text-secondary body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <%# レシピ投稿と説明 %>
    <div class="flex flex-wrap w-full mb-10">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="text-2xl font-medium title-font mb-">
          <i class="fa-regular fa-pen-to-square mx-4"></i>作ったレシピを登録
        </h1>
        <div class="h-1 w-20 bg-point rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed">
        作ったレシピについて登録しましょう！<br>
        調味料を調整した時などはコメントを残しておくと、振り返るときに便利です
      </p>
    </div>
    <%# 入力フォーム %>
    <div class="md:w-1/2 mx-auto mb-10">

      <%= form_with model: @bookmarked_recipe do |form| %>
        <%# コメント %>
        <div class="p-2 w-full">
          <div class="relative">
            <%= form.label :comment, class: "eading-6 text-sm ml-2"%>
            <%= form.text_area :comment, placeholder: "・醤油は分量より少なめにする...など", class: "w-full bg-card-body rounded-lg border border-card-line py-1 px-3"%>
          </div>
        </div>
        <%# リピートの有無 %>
        <div class="p-2 w-full">
          <div class="relative">
            <%= form.label :repeat, class: "leading-7 text-sm ml-2" %>
            <%= form.select :repeat,
                BookmarkedRecipe.repeats.keys.map { |k| [I18n.t("enums.bookmarked_recipe.repeat.#{k}"), k] },
                { include_blank: "リピートの有無を選択"},
                class: "w-full bg-card-body rounded-lg border border-card-line py-2 px-3" %>
          </div>
        </div>

      <div class="mt-10 mx-3 flex justify-center">
        <%= form.button type: 'submit', class: "text-theme bg-point border border-secondary py-2 px-8 hover:shadow-lg rounded-full text-lg mx-2" do %>
          <i class="fa-solid fa-magnifying-glass"> 登録</i>
        <% end %>
      </div>
    </div>
    <% end %>
      <div class="border-t border-secondary pt-6">
        <%= render 'recipes/recipe_detail', recipe: @bookmarked_recipe.recipe, tags: @bookmarked_recipe.recipe.tags %>
      </div>
    </div>
  </div>
</section>
