<% content_for(:title, t('.title')) %>

<section class="text-card-body body-font">
  <div class="container px-8 md:px-14 lg:px-24 w-full py-12 md:py-24 lg:py-48 mx-auto flex flex-wrap items-center my-auto">
    <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0 hidden md:block">
      <p class="leading-relaxed mb-4 text-secondary">お弁当の豆知識　配置の工夫</p>
      <h1 class="title-font font-medium text-lg text-theme">揺れることでおかずが動かないように、ブロッコリーやミニトマト、小さいウインナーなどを使って上手に隙間を埋めましょう！</h1>
    </div>
    <div class="lg:w-2/6 md:w-1/2 bg-theme opacity-85 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
      <h2 class="text-lg font-semibold title-font mb-5">
        <i class="fa-solid fa-arrow-right-to-bracket mx-2 text-lg"></i>ログイン
      </h2>
      <%= form_with url: login_path, method: :post do |form| %>

        <div class= "mb-3">
          <%= form.label :email, 'メールアドレス', class:'ml-2' %>
          <%= form.email_field :email, class: 'w-full bg-card-body text-secondary rounded-lg py-2 px-3'%>
        </div>

        <div class= "mb-3">
          <%= form.label :password, 'パスワード', class:'ml-2'%>
          <%= form.password_field :password, class: 'w-full bg-card-body text-secondary rounded-lg py-2 px-3'  %>
        </div>

        <%= form.submit 'ログイン', class: 'bg-point border border-button my-2 py-2 px-8  border-b-4 rounded-full text-lg mx-2 font-semibold active:scale-95 transition duration-150'%>
      <% end %>

      <%= link_to new_password_reset_path, class: "mt-5 ml-2 underline underline-offset-2 hover:text-point" do %>
        <i class="fa-solid fa-lock mr-2"></i>パスワードを忘れた方はこちら
      <% end %>
    </div>
  </div>
</section>
