<!DOCTYPE html>
<html>
  <head>
    <title>いつものお弁当</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/d78e08d846.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'logo_square.png' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">

  </head>

<body class="bg-body font-noto-sans flex flex-col min-h-screen">
  <% if logged_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>

  <%= render 'shared/flash_messages'%>
  <div class="flex-grow">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>

</html>
