<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(content_for?(:title) ? yield(:title) : '') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= show_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/d78e08d846.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag 'logo_square.png' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GGR8V7MK4J"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GGR8V7MK4J');
    </script>
  </head>

<body class="bg-body font-noto-sans flex flex-col min-h-screen">
  <% if logged_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>

  <%= render 'shared/flash_messages'%>
  <div class="flex-grow">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>

</html>
